# Datasets
Box/
box/

# Python caching & environments
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS specific files
.DS_Store
Thumbs.db
